<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doupi.stock.mapper.StockSupplierMapper">
    
    <resultMap type="StockSupplier" id="StockSupplierResult">
        <result property="supplierId"    column="supplier_id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="contact"    column="contact"    />
        <result property="phone"    column="phone"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectStockSupplierVo">
        select supplier_id, supplier_name, contact, phone, create_by, create_time, update_by, update_time, del_flag from edu_supplier
    </sql>

    <select id="selectEduSupplierList" parameterType="StockSupplier" resultMap="StockSupplierResult">
        <include refid="selectStockSupplierVo"/>
        <where>  
            and del_flag = '0'
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="contact != null  and contact != ''"> and contact = #{contact}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
        </where>
    </select>
    
    <select id="selectEduSupplierBySupplierId" parameterType="Long" resultMap="StockSupplierResult">
        <include refid="selectStockSupplierVo"/>
        where supplier_id = #{supplierId}
    </select>

    <insert id="insertEduSupplier" parameterType="StockSupplier" useGeneratedKeys="true" keyProperty="supplierId">
        insert into edu_supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierName != null and supplierName != ''">supplier_name,</if>
            <if test="contact != null">contact,</if>
            <if test="phone != null">phone,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierName != null and supplierName != ''">#{supplierName},</if>
            <if test="contact != null">#{contact},</if>
            <if test="phone != null">#{phone},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateEduSupplier" parameterType="StockSupplier">
        update edu_supplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierName != null and supplierName != ''">supplier_name = #{supplierName},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where supplier_id = #{supplierId}
    </update>

    <update id="deleteEduSupplierBySupplierId" parameterType="Long">
        update edu_supplier set del_flag = '2' where supplier_id = #{supplierId}
    </update>

    <update id="deleteEduSupplierBySupplierIds" parameterType="String">
        update edu_supplier set del_flag = '2' where supplier_id in 
        <foreach item="supplierId" collection="array" open="(" separator="," close=")">
            #{supplierId}
        </foreach>
    </update>
</mapper>